python-dotenv>=1.0.1
scrypt>=0.9.4
djangorestframework-simplejwt[crypto]>=5.5.1
psycopg2-binary>=2.9.12
django-cors-headers>=4.9.0
Django>=5.2.13
djangorestframework>=3.17.1
adrf>=0.1.12
pillow==12.2.0
channels[daphne]>=4.3.2
django-redis>=6.0.0
celery[redis]==5.6.3
bcrypt>=5.0.0
redis-cli>=1.0.1
whitenoise>=6.12.0
wagtail>=7.0.0
wagtail-modeladmin==2.4.0
pydantic[email]==2.13.4
django-allauth==65.16.1
logging==0.4.9.6
pyperf==2.10.0
sqlalchemy==2.0.50
django-bootstrap4==26.1
django-treebeard>=4.7.0
pandas==3.0.4
xlrd==2.0.1
django-filter==25.2
django-crispy-forms==2.6
crispy-bootstrap4==2026.2
xlsxwriter==3.2.9
drf-spectacular>=0.28.0
drf-yasg>=1.21.10
django-webpack-loader>=3.1.1
postgres>=4.0
